<article>
    <div>
        <input class="inputs" type="text" />
        <button class="buttons btn-success">success</button>
    </div>
    <div>
        <input class="inputs" type="text" />
        <button class="buttons btn-info">information</button>
    </div>
    <div>
        <input class="inputs" type="text" />
        <button class="buttons btn-warning">warning</button>
    </div>
    <div>
        <input class="inputs" type="text" />
        <button class="buttons btn-danger">danger</button>
    </div>
    <div>
        <input class="inputs" type="text" />
        <button class="buttons btn-neutral">neutral</button>
    </div>
</article>

