<article>
    <section>
        <div class="row">
            <div class="col-70 phrase">
                "Vivendo intensamente no universo do software e no suporte de ativos de Tecnologia da Informação.
                É uma grande aventura mergulhar nesse mundo digital de sistemas de software, 
                de máquinas digitais ou analógicas e de tudo que aficiona e produz muita curiosidade na computação."
                <div class="author">marcelo guimarães barbosa</div>
            </div>
            <div class="col-30"> 
                <img [src]="ImagePath">
            </div>
        </div>
    </section>
</article>