<article>
    <section>
        <div>
            <app-card>
                <div class="title-text">
                    03/2022 - 05/2022
                    R7 Facilities | Brasília-DF Tecnólogo de TI
                </div>
                <div class="description-text">
                    Desenvolvi trabalhos de controle de demandas em sistema e participava ativamente dos processos de resolução dessas demandas
                    da área negocial, também fazia levantamento de requisitos para os sistemas utilizados no negócio.        
                    Em um segundo momento, fiz parte da equipe de gerência de projetos de software atendendo
                    solicitações de demandantes da anterior área negocial e articulava tarefas entre a Gerência de Sistemas local com as
                    áreas negociais e com a fábrica de software.
                </div>    
            </app-card>
        </div>
    </section>
    <section>
        <div>
            <app-card>
                <div class="title-text">
                    07/2020 - 09/2021
                    82 Auto Center | Brasília-DF Micro-Empreendedor                    
                </div>
                <div class="description-text">
                    Minha grande experiência vivida como empreendedor, onde passei a exergar as relações de trabalho e de
                    negócio por outra perspectiva totalmente diferente das vivenciadas até então.
                    Aprendi como administrar uma empresa na prática em quase todas as funções de: Marketing, atendimento a
                    cliente, relação com fornecedor, finanças da empresa, relação com empregado e muitos outros assuntos
                    relacionados a uma empresa na posição de dono, consultor e também técnico.
                    Apesar de ser de atuação na área automotiva, fora de minha formação acadêmica, foi uma experiência única com
                    um excelentre aprendizado de estar do outro lado da relação de trabalho como empregador/micro-empresário.
                    Resolução de Problemas Criativamente: - Resolvi problemas relacionados a produtos(fornecedor) e serviços
                    através da avaliação do consumidor e da própria necessidade de melhoria da imagem da empresa.
                    Constantemente realizei análises complexas de sistemas automotivos para resolver problemas, o que resultou
                    na maioria das vezes em resultado positivo.
                    Providênciei documentos, autorizações, certificados e aprovações de agências governamentais locais e
                    nacionais para o funcionamento da empresa.
                    Supervisão - Supervisionei três técnicos automotivos em momentos diferentes.
                    Iniciei parcerias importantes que resultaram em facilitação na divulgação da empresa e no fornecimento de
                    produtos.
                    Marketing - Implementei estratégias de marketing onde obtive retorno na captação de clientes.
                </div>
            </app-card>
        </div>
    </section>
    <section>
        <div>
            <app-card>
                <div class="title-text">
                    07/2011 - 05/2020
                    EMGEA | Brasília-DF Técnico Administrativo / Assessor                    
                </div>
                <div class="description-text">
                    No primeiro momento trabalhei durante um longo tempo em suporte nível 1 de atendimento a usuário de Desktop.
                    O atendimento era realizado por meio presencial e também remoto por ferramentas fornecidas pela empresa e em
                    ferramenta nativa do sistema operacional windows.    
                    No segundo momento foram adicionadas funções a nível 2 de suporte que, apesar das limitações de acesso a
                    algumas funções, foi de grande valia para o aprendizado no sentido mais amplo em redes de computadores e
                    conceitos em domínio de rede corporativa, estrutura robusta de ativos de redes e sistemas de gerenciamento
                    desses ativos. A arquitetura de rede era de um nível de empresa média a grande porte.    
                    No terceiro momento desempenhei uma função de programador júnior, onde aprendi como são concebidos sistemas
                    corporativos desde a apresentação em projetos até a execução final. Participei da manutenção de sistemas
                    corporativos legados, onde 80% do tratamento de dados da empresa viviam em constante movimentação. Essas
                    informações eram bastante sensíveis pois se tratava da parte estratégica da empresa.    
                    Durante o trabalho na equipe de desenvolvimento de software, eu respodia por contratos de prestadores de
                    serviços/fornecedor, onde analisava planilhas de projetos, organizava reuniões, levantava ordens de serviços
                    e pagamentos, fazia a "ponte" entre os técnicos da empresa fornecedora de software e os usuários internos,
                    de operacionais a gerentes a fim de manter um bom relacionamento entre cliente e fornecedor, prezando pela
                    boa adminstração do contrato de prestação de serviço de software, atentando sempre para a cordialidade e
                    prestatividade entre os parceiros de contrato.
                </div>
            </app-card>
        </div>
    </section>
    <section>
        <div>
            <app-card>
                <div class="title-text">
                    01/2011 - 06/2011
                    InClub | Brasília-DF Técnico em Suporte a Informática
                </div>
                <div class="description-text">
                    Durante minha passagem pelo In Club trabalhei como administrador de um sistema computacional para cadastro,
                    edição, exclusão de usuários e também cadastro em intranet hospedada em Cloud, onde de fato tive minha
                    primeira experiência com sistema corporativo hospedado em nuvem externa.    
                    Desenpenhei funções de atualização de produtos e serviços no site do In Club, como edição de código HTML+CSS
                    como, atualização de conteúdos, imagens e propagandas.    
                    Também desempenhava operações de suporte a nível 1 para usuários de Desktop e nível 2 para manter a conexão
                    de internet externa e rede interna do ambiente da empresa.    
                    Foi de bastante valia o aprendizado no ambiente lógico de rede interno bem como o relacionamento para
                    resolução de problemas da rede externa como, contato com profissionais de operadoras de telefonia/internet e
                    a nível técnico com operadores de cabeamento estruturado a fim de resolver problemas relativos a
                    equipamentos de infraestrutura de redes de computadores.    
                    O constante contato com o pessoal de Design de site de internet foi promissor no sentido de aprimorar
                    experiências anteriores com codifição de HTML e CSS e até mesmo a descontinuada linguagem de action script.
                </div>
    
            </app-card>
        </div>
    </section>
    <section>
        <div>
            <app-card>
                <div class="title-text">
                    06/2010 - 12/2010
                    SESI | Brasília-DF Técnico em Suporte a Informática
                </div>
                <div class="description-text">
                    Durante o meu tempo de trabalho no sistema FIBRA, tive a minha primeira experiência com atendimento nível 1
                    de suporte ao usuário bem como em um ambiente de grande empresa.    
                    Meu período de atuação no sistema fibra foi vital para minha continuidade na área de TI, pois foi nessa
                    empresa que consegui crescimento no relacionamento interpessoal e crescimento de visão dentro do segmento de
                    suporte que, futuramente me abriria "portas" de trabalho dentro desta função.
                    Foi também trabalhando no sistema FRIBA que conheci o "mundo" do software open source, onde cresceu bastante
                    o meu interesse no assunto, me fazendo buscar cursos em sistemas operacionais sobre licença GPL.
                </div>
            </app-card>
        </div>
    </section>
    <section>
        <div>
            <app-card>
                <div class="title-text">
                    01/2010 - 06/2010
                    Feira dos Importados | Brasília-DF Web Design
                </div>
                <div class="description-text">
                    Minha primeira experiência trabalhando com Tecnologia da Informação.O trabalho consistia em manipular
                    conteúdo no site www.feiradosimportados.com.br, fazendo criações, inserções, editadanto logos e conteúdo de
                    lojas, bem como algumas complementações no código fonte em linguagem PHP.
                    Nesse período a linguagem do site não utitizava orientação a objeto, sendo ainda programação estruturada.                
                </div>
            </app-card>
        </div>
    </section>
</article>