@use "sass:map";

$colors-footer: (
    text-footer: rgb(231, 232, 233),
    background-footer: rgb(161, 168, 167)
);

@mixin custom-footer() {
    vertical-align: middle;
    padding: 1px;
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 1px 3px #000000;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

footer {
    @include custom-footer();
    border-spacing: 3px;
    background-color: map-get($colors-footer, $key:background-footer);
}

.ltext {
    color: map-get($colors-footer, $key:text-footer);
    text-transform: capitalize;
}

.preposition {
    color: map-get($colors-footer, $key:text-footer);
    text-transform: none;
}