<article>
    <app-card>
        <form action="/action_page.php">
            <div class="row">
              <div class="col-25">
                <label for="fname">Name</label>
              </div>
              <div class="col-75">
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="country">Email</label>
              </div>
              <div class="col-75">
                <input type="email" id="lemail" name="email" placeholder="Your email..">
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="subject">Subject</label>
              </div>
              <div class="col-75">
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
              </div>
            </div>
            <br>
            <div class="row">
              <input type="submit" value="Send">
            </div>
            </form>
    </app-card>
</article>
