header {
    background-color: rgb(152, 201, 192);
    vertical-align: middle;
    padding: 1px;
}

.ltext {
    color: #ecedee;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000000;
    /* text-shadow: 1px 1px 1px black, 0 0 1px rgb(134, 134, 134), 0 0 1px rgb(64, 64, 65); */
    text-transform: capitalize;
    text-align: center;
    text-justify: inherit;
}