<section>
    <app-card>
        <div class="div-title"><span class="title-page">curriculum vitae</span></div>
    </app-card>
</section>
<section>
    <article>
        <div class="div-figure">
            <figure>
                <img alt="Marcelo Guimarães Barbosa" class="img-responsive img-thumbnail" [src]="picturePersonal"
                    onError="this.src = 'assets/ops.jpg'">
                <figcaption>Marcelo Guimarães Barbosa</figcaption>
            </figure>
        </div>
        <div class="div-presentation">
            "Vivendo intensamente no universo do software e no suporte de ativos de Tecnologia da Informação.
            É uma grande aventura mergulhar nesse mundo digital de sistemas de software,
            de máquinas digitais ou analógicas e de tudo que aficiona e produz muita curiosidade na computação."
        </div>
        <div class="div-contacts">
            <div>Fone - (61)99998-8533</div>
            <div>Email - marcelo.acad@gmail.com</div>
            <div>Cidade - Brasília-DF</div>
        </div>
    </article>
</section>
<section>
    <app-card>
        <div class="div-title"><span class="title-page">competências</span></div>
    </app-card>
    <div>
        <ul>
            <li>
                <p>Infraestrutura em Redes de Computadores</p>
            </li>
            <li>
                <p>Desenvolvimento de Software</p>
            </li>
            <li>
                <p>Utilizador avançado de informática</p>
            </li>
        </ul>
    </div>
</section>
<section>
    <app-card>
        <div class="div-title"><span class="title-page">formação acadêmica</span></div>
    </app-card>
    <div>
        <span class="font-italic">2013 - </span>
        <span class="font-weight-bold">Faculdade IESB</span> | <span>Brasília-DF</span>
        <span>Tecnólogo em Redes de Computadores</span>
        <ul>
            <li>
                <p>Curso Superior em Redes de Computadores</p>
            </li>
        </ul>
    </div>
    <div>
        <div>
            <span class="font-italic">2011 - </span>
            <span class="font-weight-bold">Faculdade Fortium</span> | <span>Brasília-DF</span>
            <span>Tecnólogo em Sistemas de Informação</span>
            <ul>
                <li>
                    <p>Curso Superior em Sistemas de Informação</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section>
    <app-card>
        <div class="div-title"><span class="title-page">Experiências Profissionais</span></div>
    </app-card>
    <article class="section-margin">
        <div class="title-text">
            03/2022 - 05/2022 | R7 Facilities/INEP | Brasília-DF | Tecnólogo em TI
        </div>
        <ul class="b section">
            <li>
                Desenvolvi trabalhos de controle de demandas em sistema e participava ativamente dos
                processos de
                resolução dessas demandas
                da área negocial, também fazia levantamento de requisitos para os sistemas utilizados no
                negócio.
            </li>
            <li>
                Em um segundo momento, fiz parte da equipe de gerência de projetos de software atendendo
                solicitações de demandantes da anterior área negocial e articulava tarefas entre a Gerência
                de Sistemas
                local com as
                áreas negociais e com a fábrica de software.
            </li>
        </ul>
    </article>
</section>
<section>
    <article class="section-margin">
        <div class="title-text">
            07/2020 - 09/2021 | 82 Auto Mecânica | Brasília-DF | Micro Empreendedor
        </div>
        <ul class="b section">
            <li>
                Minha grande experiência vivida como empreendedor, onde passei a exergar as relações de
                trabalho e de negócio por outra perspectiva totalmente diferente das vivenciadas até então,
                sempre trabalhando como empregado.
                Apesar de ser de atuação na área automotiva fora de minha formação acadêmica, foi uma
                experiência única com um excelentre aprendizado de estar do outro lado da relação de
                trabalho como empregador/micro-empreendedor.
            </li>
            <li>
                Aprendi como gerenciar e administrar uma empresa na prática em quase todas as funções,
                trabalhando em:
                <ul class="a">
                    <li>
                        Marketing;
                    </li>
                    <li>
                        Atendimento a clientes;
                    </li>
                    <li>
                        Relação com fornecedores;
                    </li>
                    <li>
                        Gerenciando as finanças da empresa;
                    </li>
                    <li>
                        Relacionando-me interpessoalmente com empregados;
                    </li>
                    <li>
                        Resolução de problemas relacionados a produtos(fornecedor) e serviços através da
                        avaliação do consumidor e da própria necessidade de melhoria da imagem de minha
                        empresa;
                    </li>
                    <li>
                        Realização de análises complexas de sistemas automotivos para resolver
                        problemas na injeção eletrônica do veículo, o que resultou na maioria das vezes em
                        resultado positivo apesar da inexperiência nesse tipo de demanda;
                    </li>
                    <li>
                        Busca e providência de documentos, autorizações, certificados e aprovações de
                        agências
                        governamentais locais e nacionais para o funcionamento de minha empresa.
                    </li>
                    <li>
                        Supervisão de três mecânicos automotivos em momentos diferentes durante o
                        funcionamento da empresa.
                    </li>
                    <li>
                        Implementação de estratégias de marketing onde obtive retorno na captação de
                        clientes.
                    </li>
                    <li>
                        Iniciação de parcerias importantes que resultaram em facilitação da divulgação de
                        minha empresa e no fornecimento de produtos das empresas parceiras.
                    </li>
                </ul>
            </li>
            <li>
                No dia a dia de trabalho, apareciam diversos problemas das mais variadas
                necessidades. Nesses momentos de grande dificuldade aprendi a lidar com soluções de gerência
                e a buscar soluções de modo o mais possível
                racional sempre mantendo a calma.
            </li>
        </ul>
    </article>
</section>
<section>
    <article class="section-margin">
        <div class="title-text">
            07/2011 - 05/2020 | EMGEA | Brasília-DF | Assistente Técnico / Assessor
        </div>
        <ul class="b section">
            <li>
                Em minha passagem pela empresa EMGEA, se deram em 3 momentos distintos.
            </li>
            <ul class="a">
                <li>
                    No primeiro momento trabalhei em suporte nível 1 de atendimento a usuário de Desktop.
                    O atendimento era realizado por meio presencial e também remoto por ferramentas
                    fornecidas
                    pela empresa e em algumas ocasições por ferramentas nativas do sistema operacional
                    windows.
                </li>
                <li>
                    No segundo momento foram adicionadas funções a nível 2 de suporte que, apesar das
                    limitações
                    de acesso a algumas dessas funções, foi de grande valia para o aprendizado no sentido
                    mais
                    amplo em redes de
                    computadores e entendimento prático em domínio de rede corporativa, estrutura robusta de
                    ativos de redes e sistemas de
                    gerenciamento desses ativos. A arquitetura de rede era de um nível de empresa média a
                    grande
                    porte.
                </li>
                <li>
                    No terceiro momento desempenhei a função de programador júnior, onde aprendi como são
                    concebidos sistemas corporativos desde a apresentação em projetos até a execução final.
                    Sempre supervisionado, participei da manutenção de sistemas corporativos legados, onde
                    os
                    dados da empresa viviam em constante
                    movimentação. Essas informações eram bastante sensíveis pois se tratava da parte
                    estratégica
                    da empresa.
                </li>
            </ul>
            <li>
                Durante o trabalho na equipe de desenvolvimento de software, eu respodia por contratos de
                prestadores de
                serviços/fornecedor, onde analisava planilhas de projetos, organizava reuniões, levantava
                ordens de serviços e pagamentos e fazia a "ponte" entre os técnicos da empresa fornecedora
                de software e os
                usuários/empregados internos desde operacionais a gerentes a fim de manter um bom
                relacionamento entre cliente e fornecedor,
                prezando pela boa adminstração do contrato de prestação de serviço de software, atentando
                sempre para a
                cordialidade e prestatividade entre os parceiros de contrato.
            </li>
        </ul>
    </article>
</section>
<section>
    <article class="section-margin">
        <div class="title-text">
            01/2011 - 06/2011 | InClub | Brasília-DF | Assistente em Tecnologia da Informação
        </div>
        <ul class="b section">
            <li>
                Durante minha passagem pelo In Club trabalhei como:
                <ul class="a">
                    <li>
                        Administrador de um sistema computacional para cadastro, edição, exclusão de
                        usuários;
                    </li>
                    <li>
                        Gerenciamento de usuários em intranet hospedada em Cloud;
                    </li>
                    <li>
                        Web design para atualização de produtos e serviços no site do In Club, como edição
                        de código HTML+CSS, atualização de conteúdos, imagens e propagandas.
                    </li>
                    <li>
                        Desempenhei operações de suporte técnico em informática a nível 1 para usuários de
                        Desktop e nível 2 para manter a conexão de internet externa e rede interna do
                        ambiente da empresa, configurando e resolvendo problemas em modens e switchs.
                    </li>
                    <li>
                        Resolvia constantemente problemas a nível de rede externa como, contato com
                        profissionais de operadoras de telefonia/internet e a nível técnico com operadores
                        de cabeamento estruturado a fim de resolver problemas relativos a equipamentos de
                        infraestrutura de redes de computadores.
                    </li>
                </ul>
            </li>
            <li>
                Minha experiência no Inclub envolveu pela primeira vez em minha carreira profissional
                problemas com sistemas corporativos hospedados em nuvem externa. Tecnologia até então pouco
                utilizado por pequenas empresas.
                Também foi importante o aprendizado no ambiente lógico de rede interno bem como o
                relacionamento com a equipe de desenvolvimento local, onde tive os primeiros contatos com
                uma equipe já constituida de desenvolvedores.
            </li>
        </ul>
    </article>
</section>
<section>
    <article class="section-margin">
        <div class="title-text">
            06/2010 - 12/2010 | SESI | Brasília-DF | Técnico em Informática
        </div>
        <ul class="b section">
            <li>
                Durante o meu tempo de trabalho no sistema FIBRA, tive a minha primeira experiência com atendimento
                nível 1
                de suporte ao usuário bem como em um ambiente de grande empresa.
            </li>
            <li>
                Meu período de atuação no sistema fibra foi vital para minha continuidade na área de TI, pois foi
                nessa
                empresa que consegui crescimento no relacionamento interpessoal e crescimento de visão dentro do
                segmento de
                suporte que, futuramente me abriria "portas" de trabalho dentro desta função.
            </li>
            <li>
                Foi também trabalhando no sistema FRIBA que conheci o "mundo" do software open source, onde cresceu
                bastante
                o meu interesse no assunto, me fazendo buscar cursos em sistemas operacionais sobre licença GPL.
            </li>
        </ul>
    </article>
</section>
<section>
    <article class="section-margin">
        <div class="title-text">
            01/2010 - 06/2010 | Feira dos Importados | Brasília-DF
        </div>
        <ul class="b section">
            <li>
                Minha primeira experiência trabalhando com Tecnologia da Informação estagiando como web design.
            </li>
            <li>
                O trabalho consistia em:
                <ul class="b">
                    <li>
                        Dar manutenção no site: <a href="https://www.feiradosimportados.com.br/"
                            target="_blank">feiradosimportados.com</a>;
                    </li>
                    <li>
                        Criar logos, inserir conteúdos, editar conteúdos das lojas.
                    </li>
                    <li>
                        Prestar pequenas manutenções no código fonte da página desenvolvido em PHP/MySQL.
                    </li>
                </ul>
            </li>
            <li>
                Nessa época o site não havia sido desenvolvido em PHP orientado a objeto, utilizando apenas programação
                estruturada.
                O site também utilizada a tecnologia descontinuada de flash player para animações.
            </li>
        </ul>
    </article>
</section>
<section>
    <article>
        <app-card>
            <div class="div-title"><span class="title-page">Cursos</span><span class="conjunction"> e </span><span
                    class="title-page">Qualificações</span></div>
        </app-card>
        <ul class="b section">
            <li>
                Sistema Operacional Linux Debian, Ubuntu, Oracle Linux;
            </li>
            <li>
                Ferramenta de virtualização em VMware Workstation, Hyper-V,Virtual-Box;
            </li>
            <li>
                Montagem e configuração de Microcomputadores;
            </li>
            <li>
                Curso técnico Redes de Computadores;
            </li>
            <li>
                Configuração em Roteadores e Switches Cisco;
            </li>
            <li>
                Linguagem Transact-SQL;
            </li>
            <li>
                Banco de Dados MySQL;
            </li>
            <li>
                Banco de Dados PostgreSQL;
            </li>
            <li>
                Teste de Software;
            </li>
            <li>
                Java Script;
            </li>
            <li>
                Biblioteca Angular;
            </li>
            <li>
                Linguagem de Programação JAVA;
            </li>
            <li>
                Versionamento de software com ferramenta Git e GitHub;
            </li>
            <li>
                Gerenciamento de tarefas com ferramenta Trello;
            </li>
        </ul>
    </article>
</section>