<article>
    <section>
        <app-card>
            <div class="div-title"><span class="title-page">professional experiences</span></div>
        </app-card>
    </section>
    <section>
        <app-card>
            <button class="button dropdown-toggle" (click)="showHideTecnologo()">Tecnólogo em TI</button>
            <div *ngIf="visibleTecnologo" class="container">
                <dd>
                    <dl>
                        <div class="title-text">
                            03/2022 - 05/2022 | R7 Facilities/INEP | Brasília-DF
                        </div>
                    </dl>
                    <dl>
                        <div class="description-text">
                            Desenvolvi trabalhos de controle de demandas em sistema e participava ativamente dos
                            processos de
                            resolução dessas demandas
                            da área negocial, também fazia levantamento de requisitos para os sistemas utilizados no
                            negócio.
                        </div>
                        <div class="description-text">
                            Em um segundo momento, fiz parte da equipe de gerência de projetos de software atendendo
                            solicitações de demandantes da anterior área negocial e articulava tarefas entre a Gerência
                            de Sistemas
                            local com as
                            áreas negociais e com a fábrica de software.
                        </div>
                    </dl>
                </dd>
            </div>
        </app-card>
    </section>
    <section>
        <app-card>
            <button class="button dropdown-toggle" (click)="showHideMicroEmpreendedor()">Micro Empreendedor</button>
            <div *ngIf="visibleMicroEmpreendedor" class="container">
                <dd>
                    <dl>
                        <div class="title-text">
                            07/2020 - 09/2021 | 82 Auto Mecânica | Brasília-DF
                        </div>
                    </dl>
                    <dl>
                        <div class="description-text">
                            Minha grande experiência vivida como empreendedor, onde passei a exergar as relações de
                            trabalho e de negócio por outra perspectiva totalmente diferente das vivenciadas até então,
                            sempre trabalhando como empregado.
                        </div>
                        <div class="description-text">
                            Apesar de ser de atuação na área automotiva fora de minha formação acadêmica, foi uma
                            experiência única com um excelentre aprendizado de estar do outro lado da relação de
                            trabalho como empregador/micro-empreendedor.
                        </div>
                        <div class="description-text">
                            Aprendi como gerenciar e administrar uma empresa na prática em quase todas as funções,
                            trabalhando em:
                            <ul class="b">
                                <li>
                                    Marketing;
                                </li>
                                <li>
                                    Atendimento a clientes;
                                </li>
                                <li>
                                    Relação com fornecedores;
                                </li>
                                <li>
                                    Gerenciando as finanças da empresa;
                                </li>
                                <li>
                                    Relacionando-me interpessoalmente com empregados;
                                </li>
                                <li>
                                    Resolução de problemas relacionados a produtos(fornecedor) e serviços através da
                                    avaliação do consumidor e da própria necessidade de melhoria da imagem de minha
                                    empresa;
                                </li>
                                <li>
                                    Realização de análises complexas de sistemas automotivos para resolver
                                    problemas na injeção eletrônica do veículo, o que resultou na maioria das vezes em
                                    resultado positivo apesar da inexperiência nesse tipo de demanda;
                                </li>
                                <li>
                                    Busca e providência de documentos, autorizações, certificados e aprovações de
                                    agências
                                    governamentais locais e nacionais para o funcionamento de minha empresa.
                                </li>
                                <li>
                                    Supervisão de três mecânicos automotivos em momentos diferentes durante o
                                    funcionamento da empresa.
                                </li>
                                <li>
                                    Implementação de estratégias de marketing onde obtive retorno na captação de
                                    clientes.
                                </li>
                                <li>
                                    Iniciação de parcerias importantes que resultaram em facilitação da divulgação de
                                    minha empresa e no fornecimento de produtos das empresas parceiras.
                                </li>
                            </ul>
                        </div>
                    </dl>
                    <dl>
                        <div class="description-text">
                            No dia a dia de trabalho, apareciam diversos problemas das mais variadas
                            necessidades. Nesses momentos de grande dificuldade aprendi a lidar com soluções de gerência
                            e a buscar soluções de modo o mais possível
                            racional sempre mantendo a calma.
                        </div>
                    </dl>
                </dd>
            </div>
        </app-card>
    </section>
    <section>
        <app-card>
            <button class="button dropdown-toggle" (click)="showHideAssessor()">Técnico Administrativo |
                Assessor</button>
            <div *ngIf="visibleAssessor" class="container">
                <dd>
                    <dl>
                        <div class="title-text">
                            07/2011 - 05/2020 | EMGEA | Brasília-DF
                        </div>
                    </dl>
                    <dl>
                        <div class="description-text">
                            Em minha passagem pela empresa EMGEA, se deram em 3 momentos distintos.
                        </div>
                        <ul class="b description-text">
                            <li>
                                No primeiro momento trabalhei em suporte nível 1 de atendimento a usuário de Desktop.
                                O atendimento era realizado por meio presencial e também remoto por ferramentas
                                fornecidas
                                pela empresa e em algumas ocasições por ferramentas nativas do sistema operacional
                                windows.
                            </li>
                            <li>
                                No segundo momento foram adicionadas funções a nível 2 de suporte que, apesar das
                                limitações
                                de acesso a algumas dessas funções, foi de grande valia para o aprendizado no sentido
                                mais
                                amplo em redes de
                                computadores e entendimento prático em domínio de rede corporativa, estrutura robusta de
                                ativos de redes e sistemas de
                                gerenciamento desses ativos. A arquitetura de rede era de um nível de empresa média a
                                grande
                                porte.
                            </li>
                            <li>
                                No terceiro momento desempenhei a função de programador júnior, onde aprendi como são
                                concebidos sistemas corporativos desde a apresentação em projetos até a execução final.
                                Sempre supervisionado, participei da manutenção de sistemas corporativos legados, onde
                                os
                                dados da empresa viviam em constante
                                movimentação. Essas informações eram bastante sensíveis pois se tratava da parte
                                estratégica
                                da empresa.
                            </li>
                        </ul>
                    </dl>
                    <dl>
                        <div class="description-text">
                            Durante o trabalho na equipe de desenvolvimento de software, eu respodia por contratos de
                            prestadores de
                            serviços/fornecedor, onde analisava planilhas de projetos, organizava reuniões, levantava
                            ordens de serviços e pagamentos e fazia a "ponte" entre os técnicos da empresa fornecedora
                            de software e os
                            usuários/empregados internos desde operacionais a gerentes a fim de manter um bom
                            relacionamento entre cliente e fornecedor,
                            prezando pela boa adminstração do contrato de prestação de serviço de software, atentando
                            sempre para a
                            cordialidade e prestatividade entre os parceiros de contrato.
                        </div>
                    </dl>
                </dd>
            </div>
        </app-card>
    </section>
    <section>
        <app-card>
            <button class="button dropdown-toggle" (click)="showHideAssistantTechnician()">Assistente em Tecnologia da Informação</button>
            <div *ngIf="visibleAssistantTechnician" class="container">
                <dd>
                    <dl>
                        <div class="title-text">
                            01/2011 - 06/2011 | InClub | Brasília-DF
                        </div>
                    </dl>
                    <dl>
                        <div class="description-text">
                            Durante minha passagem pelo In Club trabalhei como:
                            <ul class="b">
                                <li>
                                    Administrador de um sistema computacional para cadastro, edição, exclusão de
                                    usuários;
                                </li>
                                <li>
                                    Gerenciamento de usuários em intranet hospedada em Cloud;
                                </li>
                                <li>
                                    Web design para atualização de produtos e serviços no site do In Club, como edição
                                    de código HTML+CSS, atualização de conteúdos, imagens e propagandas.
                                </li>
                                <li>
                                    Desempenhei operações de suporte técnico em informática a nível 1 para usuários de
                                    Desktop e nível 2 para manter a conexão de internet externa e rede interna do
                                    ambiente da empresa, configurando e resolvendo problemas em modens e switchs.
                                </li>
                                <li>
                                    Resolvia constantemente problemas a nível de rede externa como, contato com
                                    profissionais de operadoras de telefonia/internet e a nível técnico com operadores
                                    de cabeamento estruturado a fim de resolver problemas relativos a equipamentos de
                                    infraestrutura de redes de computadores.
                                </li>
                            </ul>
                        </div>
                    </dl>
                    <dl>
                        <div class="description-text">
                            Minha experiência no Inclub envolveu pela primeira vez em minha carreira profissional
                            problemas com sistemas corporativos hospedados em nuvem externa. Tecnologia até então pouco
                            utilizado por pequenas empresas.
                            Também foi importante o aprendizado no ambiente lógico de rede interno bem como o
                            relacionamento com a equipe de desenvolvimento local, onde tive os primeiros contatos com
                            uma equipe já constituida de desenvolvedores.
                        </div>
                    </dl>
                </dd>
            </div>
        </app-card>
    </section>
    <section>
            <app-card>
                <button class="button dropdown-toggle" (click)="showHideComputerTechnician()">Técnico em Informática</button>
                <div *ngIf="visibleComputerTechnician" class="container">
                    <dd>
                        <dl>
                            <div class="title-text">
                                06/2010 - 12/2010 | SESI | Brasília-DF
                            </div>
                        </dl>
                        <dl>
                            <div class="description-text">
                                Durante o meu tempo de trabalho no sistema FIBRA, tive a minha primeira experiência com atendimento
                                nível 1
                                de suporte ao usuário bem como em um ambiente de grande empresa.
                            </div>
                            <div class="description-text">
                                Meu período de atuação no sistema fibra foi vital para minha continuidade na área de TI, pois foi
                                nessa
                                empresa que consegui crescimento no relacionamento interpessoal e crescimento de visão dentro do
                                segmento de
                                suporte que, futuramente me abriria "portas" de trabalho dentro desta função.
                            </div>
                            <div class="description-text">
                                Foi também trabalhando no sistema FRIBA que conheci o "mundo" do software open source, onde cresceu
                                bastante
                                o meu interesse no assunto, me fazendo buscar cursos em sistemas operacionais sobre licença GPL.
                            </div>
                        </dl>
                    </dd>
                </div>
            </app-card>
    </section>
    <section>
            <app-card>
                <button class="button dropdown-toggle" (click)="showHideWebDesigner()">Web Designer</button>
                <div *ngIf="visibleWebDesigner" class="container">
                    <dd>
                        <dl>
                            <div class="title-text">
                                01/2010 - 06/2010 | Feira dos Importados | Brasília-DF
                            </div>
                        </dl>
                        <dl>
                            <div class="description-text">
                                Minha primeira experiência trabalhando com Tecnologia da Informação estagiando como web design.
                            </div>
                            <div class="description-text">
                                O trabalho consistia em:
                            </div>
                            <div class="description-text">
                                <ul class="b">
                                    <li>
                                        Dar manutenção no site: <a href="https://www.feiradosimportados.com.br/" target="_blank">feiradosimportados.com</a>;
                                    </li>
                                    <li>
                                        Criar logos, inserir conteúdos, editar conteúdos das lojas.
                                    </li>
                                    <li>
                                        Prestar pequenas manutenções no código fonte da página desenvolvido em PHP/MySQL.
                                    </li>
                                </ul>
                            </div>
                        </dl>
                        <dl>
                            <div class="description-text">
                                Nessa época o site não havia sido desenvolvido em PHP orientado a objeto, utilizando apenas programação estruturada.
                                O site também utilizada a tecnologia descontinuada de flash player para animações.
                            </div>
                        </dl>
                    </dd>
                </div>
            </app-card>
    </section>
</article>