<article>
  <section>
    <app-card>
      <div class="div-title"><span class="title-page">contact details</span></div>
    </app-card>
  </section>
  <section>
    <app-card>
      <div>
          Name:
      </div>
      <div class="description-text">
          <ul class="b">
              <li>
                  Marcelo Guimarães Barbosa
              </li>
          </ul>
      </div>
  </app-card>
  </section>
  <section>
    <app-card>
      <div>
          Email:
      </div>
      <div class="description-text">
          <ul class="b">
              <li>
                marcelo.acad@gmail.com
              </li>
          </ul>
      </div>
  </app-card>
  </section>
  <section>
    <app-card>
      <div>
          Linkedin:
      </div>
      <div class="description-text">
          <ul class="b">
              <li>
                <a href="https://br.linkedin.com/in/marcelo-guimba"
              target="_blank">Linkedin/Marcelo</a>
              </li>
          </ul>
      </div>
  </app-card>
  </section>
  <section>
    <app-card>
      <div>
          Whatsapp:
      </div>
      <div class="description-text">
          <ul class="b">
              <li>
                <a href="https://api.whatsapp.com/send?phone=61999988533"
              target="_blank">Whatsapp</a>
              </li>
          </ul>
      </div>
  </app-card>
  </section>
</article>