<article>
    <section>
        <div>
            <input type="text" class="inputs">
            <label class="labels">Buttons</label>
        </div>
        <div>
            <button type="button" class="buttons button-hover btn-success">success</button>
            <button type="button" class="buttons button-hover btn-warning">warning</button>
            <button type="button" class="buttons button-hover btn-info">information</button>
            <button type="button" class="buttons button-hover btn-danger">danger</button>
            <button type="button" class="buttons button-hover btn-neutral">neutral</button>
            <button type="button" class="buttons button-hover btn-neutral-clear">neutral clear</button>
            <button type="button" class="buttons button-hover btn-green">green</button>
            <button type="button" class="buttons btn-green disabled">green</button>
        </div>
    </section>
</article>