<article>
    <section>
        <app-card>
            <div class="title-cq">courses and qualifications</div>
        </app-card>
    </section>
    <section>
        <app-card>
            <Article>
                <div>
                    Sistema Operacional Linux Debian, Ubuntu, Oracle Linux.
                </div>
            </Article>
        </app-card>
    </section>
    <section>
        <app-card>
            <Article>
                <div>
                    Ferramenta de virtualização em VMware Workstation, Virtual-Box.
                </div>
            </Article>
        </app-card>
    </section>
    <section>
        <app-card>
            <Article>
                <div>
                    Montagem e configuração de Microcomputadores.
                </div>
            </Article>
        </app-card>
    </section>
    <section>
        <app-card>
            <Article>
                <div>
                    Curso técnico Redes de Computadores.
                </div>
            </Article>
        </app-card>
    </section>
    <section>
        <app-card>
            <Article>
                <div>
                    Configuração em Roteadores e Switches Cisco.
                </div>
            </Article>
        </app-card>
    </section>
    <section>
        <app-card>
            <Article>
                <div>
                    Linguagem Transact-SQL
                </div>
                <div>
                    <span>Projects and Scripts: </span><a href="https://github.com/p000059/SQL-Scripts" target="_blank">GitHub/SQL</a>
                </div>
            </Article>
        </app-card>
    </section>
    <section>
        <app-card>
            <Article>
                <div>
                    Banco de Dados MySQL
                </div>
                <div>
                    <span>Codes: </span><a href="https://github.com/p000059/SQL-Scripts/tree/master/MySQL" target="_blank">GitHub/MySQL</a>
                </div>
            </Article>
        </app-card>
    </section>
    <section>
        <app-card>
            <Article>
                <div>
                    Banco de Dados PostgreSQL
                </div>
                <div>
                    <span>Codes: </span><a href="https://github.com/p000059/SQL-Scripts/tree/master/PostgreSQL/PROJECTS" target="_blank">GitHub/PostgreSQL</a>
                </div>
            </Article>
        </app-card>
    </section>
    <section>
        <app-card>
            <Article>
                <div>
                    Teste de Software
                </div>
            </Article>
        </app-card>
    </section>
    <section>
        <app-card>
            <Article>
                <div>
                    JavaScript
                </div>
                <div>
                    <span>Codes: </span><a href="https://github.com/p000059/JavaScript" target="_blank">GitHub/Javascript</a>
                </div>
            </Article>
        </app-card>
    </section>
    <section>
        <app-card>
            <Article>
                <div>
                    JAVA
                </div>
                <div>
                    <span>Small Snipers: <a href="https://github.com/p000059/Java" target="_blank">Github/Java</a></span>
                </div>
                <div>
                    <span>Systems: </span> <a href="https://github.com/p000059/systems" target="_blank">GitHub/Systems</a> 
                </div>
            </Article>
        </app-card>
    </section>
    <section>
        <app-card>
            <Article>
                <div>
                    Angular
                </div>
                <div>
                    <span>Small Snipers and Systems: </span><a href="https://github.com/p000059/Angular" target="_blank">GitHub/Angular</a>
                </div>
            </Article>
        </app-card>
    </section>
    <section>
        <app-card>
            <Article>
                <div>
                    Versionamento de software com ferramenta Git e GitHub.
                </div>
            </Article>
        </app-card>
    </section>
</article>
