<app-card title="First Component">
    <body-component></body-component>
</app-card>
<app-card title="Interpolation text">
    <app-first-component></app-first-component>
</app-card>
<app-card title="Pipe, Image and Event click">
    <app-second-component></app-second-component>
</app-card>
<app-card title="Math Operation With Pipe">
    <app-operation></app-operation>
</app-card>
<app-card title="Two way and Data binding">
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>
<app-card title="Rendered Lists">
    <app-renderlists></app-renderlists>
</app-card>
<app-card title="Custom Component">
    <app-custom-component name="João" lastName="Victor" ></app-custom-component>
    <app-custom-component name="Gabriel" lastName="Luca" ></app-custom-component>
</app-card>
<app-card title="Parent and Child Component">
    <app-parent-component></app-parent-component>
</app-card>
<app-card title="Life Cicle Component">
    <app-father-life-cicle></app-father-life-cicle>
</app-card>
