<article>
    <section>
        <app-card>
            <div class="div-title"><span class="title-page">academic education</span></div>
        </app-card>
    </section>
    <section>
        <app-card>
            <div class="title-text">
                2013 - Faculdade IESB | Brasília-DF
            </div>
            <div>
                Tecnólogo em Redes de Computadores
            </div>
            <div class="description-text">
                <ul class="b">
                    <li>
                        Curso Superior em Redes de Computadores
                    </li>
                </ul>
            </div>
        </app-card>
    </section>
    <section>
        <app-card>
            <div class="title-text">
                2011 - Faculdade Fortium | Brasília-DF
            </div>
            <div>
                Tecnólogo em Sistemas de Informação
            </div>
            <div class="description-text">
                <ul class="b">
                    <li>
                        Curso Superior em Sistemas de Informação
                    </li>
                </ul>
            </div>
        </app-card>
    </section>
</article>
